body {
  background-color: #000000;
  font-family:"Courier New"
}
table {
  width: 100%;
  height: 100%;
}
.absorbeddoseconverter {
  background-color: #000000;
  border: 5px outset #ff0000;
  color: #ff0000;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.accelerationconverter {
  background-color: #000000;
  border: 5px outset #ff3300;
  color: #ff3300;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.angleconverter {
  background-color: #000000;
  border: 5px outset #ff6600;
  color: #ff6600;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.areaconverter {
  background-color: #000000;
  border: 5px outset #ff9900;
  color: #ff9900;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.catalyticactivityconverter {
  background-color: #000000;
  border: 5px outset #ffcc00;
  color: #ffcc00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.densityconverter {
  background-color: #000000;
  border: 5px outset #ffff00;
  color: #ffff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.electricalresistanceconverter {
  background-color: #000000;
  border: 5px outset #ccff00;
  color: #ccff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.electricchargeconverter {
  background-color: #000000;
  border: 5px outset #99ff00;
  color: #99ff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.electriccurrentconverter {
  background-color: #000000;
  border: 5px outset #66ff00;
  color: #66ff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.energyconverter {
  background-color: #000000;
  border: 5px outset #33ff00;
  color: #33ff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.equivalentdoseconverter {
  background-color: #000000;
  border: 5px outset #00ff00;
  color: #00ff00;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.flowconverter {
  background-color: #000000;
  border: 5px outset #00ff33;
  color: #00ff33;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.forceconverter {
  background-color: #000000;
  border: 5px outset #00ff66;
  color: #00ff66;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.frequencyconverter {
  background-color: #000000;
  border: 5px outset #00ff99;
  color: #00ff99;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.illuminanceconverter {
  background-color: #000000;
  border: 5px outset #00ffcc;
  color: #00ffcc;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.informationconverter {
  background-color: #000000;
  border: 5px outset #00ffff;
  color: #00ffff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.lengthconverter {
  background-color: #000000;
  border: 5px outset #00ccff;
  color: #00ccff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.luminousfluxconverter {
  background-color: #000000;
  border: 5px outset #0099ff;
  color: #0099ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.luminousintensityconverter {
  background-color: #000000;
  border: 5px outset #0066ff;
  color: #0066ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.magneticfluxconverter {
  background-color: #000000;
  border: 5px outset #0033ff;
  color: #0033ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.massconverter {
  background-color: #000000;
  border: 5px outset #0000ff;
  color: #0000ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.powerconverter {
  background-color: #000000;
  border: 5px outset #cc00ff;
  color: #cc00ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.pressureconverter {
  background-color: #000000;
  border: 5px outset #6600ff;
  color: #6600ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.radioactivityconverter {
  background-color: #000000;
  border: 5px outset #9900ff;
  color: #9900ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.solidangleconverter {
  background-color: #000000;
  border: 5px outset #cc00ff;
  color: #cc00ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.speedconverter {
  background-color: #000000;
  border: 5px outset #ff00ff;
  color: #ff00ff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.substanceconverter {
  background-color: #000000;
  border: 5px outset #ff00cc;
  color: #ff00cc;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.temperatureconverter {
  background-color: #000000;
  border: 5px outset #ff0099;
  color: #ff0099;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.timeconverter {
  background-color: #000000;
  border: 5px outset #ff0066;
  color: #ff0066;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.torqueconverter {
  background-color: #000000;
  border: 5px outset #ff0033;
  color: #ff0033;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.voltageconverter {
  background-color: #000000;
  border: 5px outset #ffffff;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.volumeconverter {
  background-color: #000000;
  border: 5px outset #999999;
  color: #999999;
  text-align: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
