body {
  background-color: #000000;
  font-family:"Courier New"
}
table {
  width: 100vw;
}
.c1 {
  background-color: #000000;
  border: 5px outset #ff0000;
  color: #ff0000;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c2 {
  background-color: #000000;
  border: 5px outset #ff3300;
  color: #ff3300;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c3 {
  background-color: #000000;
  border: 5px outset #ff6600;
  color: #ff6600;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c4 {
  background-color: #000000;
  border: 5px outset #ff9900;
  color: #ff9900;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c5 {
  background-color: #000000;
  border: 5px outset #ffcc00;
  color: #ffcc00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c6 {
  background-color: #000000;
  border: 5px outset #ffff00;
  color: #ffff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c7 {
  background-color: #000000;
  border: 5px outset #ccff00;
  color: #ccff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c8 {
  background-color: #000000;
  border: 5px outset #99ff00;
  color: #99ff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c9 {
  background-color: #000000;
  border: 5px outset #66ff00;
  color: #66ff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c10 {
  background-color: #000000;
  border: 5px outset #33ff00;
  color: #33ff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c11 {
  background-color: #000000;
  border: 5px outset #00ff00;
  color: #00ff00;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c12 {
  background-color: #000000;
  border: 5px outset #00ff33;
  color: #00ff33;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c13 {
  background-color: #000000;
  border: 5px outset #00ff66;
  color: #00ff66;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c14 {
  background-color: #000000;
  border: 5px outset #00ff99;
  color: #00ff99;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c15 {
  background-color: #000000;
  border: 5px outset #00ffcc;
  color: #00ffcc;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c16 {
  background-color: #000000;
  border: 5px outset #00ffff;
  color: #00ffff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c17 {
  background-color: #000000;
  border: 5px outset #00ccff;
  color: #00ccff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c18 {
  background-color: #000000;
  border: 5px outset #0099ff;
  color: #0099ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c19 {
  background-color: #000000;
  border: 5px outset #0066ff;
  color: #0066ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c20 {
  background-color: #000000;
  border: 5px outset #0033ff;
  color: #0033ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c21 {
  background-color: #000000;
  border: 5px outset #0000ff;
  color: #0000ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c22 {
  background-color: #000000;
  border: 5px outset #cc00ff;
  color: #cc00ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c23 {
  background-color: #000000;
  border: 5px outset #6600ff;
  color: #6600ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c24 {
  background-color: #000000;
  border: 5px outset #9900ff;
  color: #9900ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c25 {
  background-color: #000000;
  border: 5px outset #cc00ff;
  color: #cc00ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c26 {
  background-color: #000000;
  border: 5px outset #ff00ff;
  color: #ff00ff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c27 {
  background-color: #000000;
  border: 5px outset #ff00cc;
  color: #ff00cc;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c28 {
  background-color: #000000;
  border: 5px outset #ff0099;
  color: #ff0099;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c29 {
  background-color: #000000;
  border: 5px outset #ff0066;
  color: #ff0066;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c30 {
  background-color: #000000;
  border: 5px outset #ff0033;
  color: #ff0033;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c31 {
  background-color: #000000;
  border: 5px outset #ffffff;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
.c32 {
  background-color: #000000;
  border: 5px outset #999999;
  color: #999999;
  text-align: center;
  border-radius: 50px;
  height: 30vh;
  width: 25vw;
}
